In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.ensemble import RandomForestClassifier

In [2]:
train = pd.read_csv('Data Mining VU data/training_set_VU_DM_2014.csv')

In [3]:
test = pd.read_csv('Data Mining VU data/test_set_VU_DM_2014.csv')

In [4]:
# smaller samples for faster computing
train_sample = train.sample(frac=0.5, random_state=0)
test_sample = train.drop(train_sample.index)

In [5]:
train_sample.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
930452,62094,2013-01-26 22:10:19,18,31,NaN,NaN,32,47040,4,4.5,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0,NaN,0
1701430,114235,2012-11-13 12:42:21,1,13,NaN,NaN,15,115700,5,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
1595996,107254,2013-04-25 10:22:32,16,31,NaN,NaN,31,31574,4,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
3367696,226202,2013-02-21 19:02:17,5,219,NaN,NaN,219,33423,3,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
3880444,260461,2013-05-02 23:11:06,14,100,NaN,NaN,219,24194,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [6]:
target = pd.DataFrame(train_sample['booking_bool'])
data = pd.DataFrame(train_sample[['site_id', 'prop_country_id']])


clf = RandomForestClassifier()
clf.fit(data, target)

/Users/Tamika/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [10]:
from sklearn.metrics import accuracy_score

train_sample_2 = train.sample(frac=0.7, random_state=0)

data_test = pd.DataFrame(train_sample_2[['site_id', 'prop_country_id']])
target_test = pd.DataFrame(train_sample_2['booking_bool'])

predicted = clf.predict(data_test)
accuracy = accuracy_score(target_test, predicted)

print('accuracy: %f' %accuracy)

accuracy: 0.972170