In [2]:
import pandas as pd
import numpy as np
import dateparser

In [3]:
missing_data = '-'

In [4]:
odi_data = pd.read_csv('ODI-2018_or.csv')
odi_clean = odi_data.copy()

In [5]:
odi_data.head()

,Timestamp,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,Chocolate makes you.....,When is your birthday (date)?,Number of neighbors sitting around you?,Did you stand up?,"You can get £100 if you win a local DM competition, or we don’t hold any competitions and I give everyone some money (not the same amount!). How much do you think you would get then?",Give a random number,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4/5/2018 11:22:56,Duisenberg Quantitative Risk Management,no,0,mu,nee,male,neither,10/12/1994,49000,no,0.05,7,1,Productive,Good sleep
2,4/5/2018 11:23:04,Computer Science,no,0,unknown,ja,male,I have no idea what you are talking about,06-08-1993,100,yes,The formmer,394749,1 a m,got a 8.5,got 2 8.5s
3,4/5/2018 11:23:06,Business Analytics,yes,1,sigma,ja,male,neither,25 december 92,5,no,Not enough,6,23,Food,Sport
4,4/5/2018 11:23:50,BA,yes,1,mu,ja,male,I have no idea what you are talking about,01-02-1995,2,no,0,8,0.3,-,-

In [6]:
odi_clean = pd.DataFrame(odi_data.iloc[1:,:], columns=odi_data.columns)
odi_clean.head()

,Timestamp,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,Chocolate makes you.....,When is your birthday (date)?,Number of neighbors sitting around you?,Did you stand up?,"You can get £100 if you win a local DM competition, or we don’t hold any competitions and I give everyone some money (not the same amount!). How much do you think you would get then?",Give a random number,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
1,4/5/2018 11:22:56,Duisenberg Quantitative Risk Management,no,0,mu,nee,male,neither,10/12/1994,49000,no,0.05,7,1,Productive,Good sleep
2,4/5/2018 11:23:04,Computer Science,no,0,unknown,ja,male,I have no idea what you are talking about,06-08-1993,100,yes,The formmer,394749,1 a m,got a 8.5,got 2 8.5s
3,4/5/2018 11:23:06,Business Analytics,yes,1,sigma,ja,male,neither,25 december 92,5,no,Not enough,6,23,Food,Sport
4,4/5/2018 11:23:50,BA,yes,1,mu,ja,male,I have no idea what you are talking about,01-02-1995,2,no,0,8,0.3,-,-
5,4/5/2018 11:23:59,Master Computer Science: Big Data Engineering,no,0,sigma,ja,male,I have no idea what you are talking about,09.01.1994,6,no,0,8,0:00,sleep,beer

In [9]:
print(odi_data.shape)
print(odi_clean.shape)

(218, 16)
(217, 16)

In [10]:
programme_dict = {
    'Duisenberg':'Duisenberg Honor Programme',
    'DHP':'Duisenberg Honor Programme',
    'Science, Business':'SBI',
    'Computer Science':'CS',
    'Big':'CS',
    'Business Analytics':'BA',
    'Business analytics':'BA',
    'business analytics':'BA',
    'BA':'BA',
    'Drug':'Drug Discovery and Safety',
    'Computational':'CLS',
    'Como':'CLS',
    'CLS':'CLS',
    'CSL':'CLS',
    'Cls':'CLS',
    'trics':'EOR',
    'EOR':'EOR',
    'OR':'EOR',
    'System':'Bioinformatics',
    'Bioinfo':'Bioinformatics',
    'bioinformatics':'Bioinformatics',
#    'cs':'CS',
    'CS':'CS',
    'AI':'AI',
    'Artificial':'AI',
    'A. I.':'AI',
    'Ai':'AI',
    'Exchange':'Exchange',
    'QRM':'QRM',
    'Quantitative':'QRM',
    'Human Movement':'Human Movement Science',
    'PhD':'PhD student',
    'Data Mining':missing_data,
    '21-':'unknown'
}

In [11]:
# introduce unique classes for the different programmes
for key, value in programme_dict.items():
    odi_clean.iloc[:,1] = odi_clean.iloc[:,1].apply(lambda x: value if key in x else x)
odi_clean.iloc[:,1] = odi_clean.iloc[:,1].apply(lambda x: 'CS' if x=='cs' else x)
#odi_clean.iloc[:,1]

In [12]:
# chocolate
odi_clean.iloc[:,7] = odi_clean.iloc[:,7].apply(lambda x: 'ignorant' if 'no idea' in x else x)
#odi_clean.iloc[:,7]

In [13]:
# neighbors
# handle strings and numbers greater than 8 as missing values (represented by -1)
odi_clean.iloc[:,9] = pd.to_numeric(odi_clean.iloc[:,9], errors='coerce')
odi_clean.iloc[:,9] = odi_clean.iloc[:,9].apply(lambda x: int(x) if np.isfinite(x) and x<=8 else missing_data)
#odi_clean.iloc[:,9]

In [14]:
# random number
# handle strings and numbers greater than 10 as missing values (represented by -1)
odi_clean.iloc[:,12] = pd.to_numeric(odi_clean.iloc[:,12], errors='coerce')
odi_clean.iloc[:,12] = odi_clean.iloc[:,12].apply(lambda x: int(x) if np.isfinite(x) and x<=10 else missing_data)
#odi_clean.iloc[:,12]

In [15]:
birthdays = odi_clean.iloc[:,8]
bedtimes = odi_data.iloc[:,13]

bdays_formatted = []
bedtimes_formatted = []
for i,bday in enumerate(birthdays):
    # parse the dates and format them uniformly into datetime object
    #bdays_formatted.append(dateparser.parse(bday, settings={'STRICT_PARSING': True}))
    bdays_formatted.append(dateparser.date.DateDataParser().get_date_data(str(bday)))
    bedtimes_formatted.append(dateparser.date.DateDataParser().get_date_data(str(bedtimes[i])))
    
years = []
months = []
days = []
hours = []
minutes = []
for i,bday in enumerate(bdays_formatted):
    if bday.get('date_obj') is not None:
        year = bday.get('date_obj').year
        if year == 2018 or year < 1950:
            years.append(missing_data)
        else:
            years.append(bday.get('date_obj').year)
        months.append(bday.get('date_obj').month)
        days.append(bday.get('date_obj').day)
    else:
        years.append(missing_data)
        months.append(missing_data)
        days.append(missing_data)
    if bedtimes_formatted[i].get('date_obj') is not None:
        hours.append(bedtimes_formatted[i].get('date_obj').hour)
        minutes.append(bedtimes_formatted[i].get('date_obj').minute)
    else:
        hours.append(missing_data)
        minutes.append(missing_data)
        
odi_clean['Year'] = years
odi_clean['Month'] = months
odi_clean['Days'] = days
odi_clean['Hours'] = hours
odi_clean['Minutes'] = minutes
odi_clean['Hours'].replace(11, 23, inplace=True)
odi_clean['Hours'].replace(12, 0, inplace=True)

odi_clean.replace('unknown', missing_data, inplace=True)

#odi_clean.iloc[:,2].replace('yes', 1, inplace=True)
#odi_clean.iloc[:,2].replace('no', 0, inplace=True)
odi_clean.iloc[:,3].replace('1','yes',inplace=True)
odi_clean.iloc[:,3].replace('0','no',inplace=True)
odi_clean.iloc[:,4].replace('sigma','no',inplace=True)
odi_clean.iloc[:,4].replace('mu','yes',inplace=True)
odi_clean.iloc[:,5].replace('ja','yes',inplace=True)
odi_clean.iloc[:,5].replace('nee','no',inplace=True)
#odi_clean.iloc[:,10].replace('yes', 1, inplace=True)
#odi_clean.iloc[:,10].replace('no', 0, inplace=True)

In [16]:
# money
# eliminate currency
# handle strings and expressions like 100/N as missing data
values = [' pond', ' pound', ' euros', 'euro', 'c', "€ ?:\)"]
odi_clean.iloc[:,11] = odi_clean.iloc[:,11].map(lambda x: x.lstrip('£$').rstrip('£'))
for val in values:
    odi_clean.iloc[:,11] = odi_clean.iloc[:,11].str.replace(val, '')
odi_clean.iloc[:,11] = odi_clean.iloc[:,11].str.replace(',', '.')
odi_clean.iloc[:,11] = pd.to_numeric(odi_clean.iloc[:,11], errors='coerce')
odi_clean.iloc[:,11] = odi_clean.iloc[:,11].apply(lambda x: int(x) if np.isfinite(x) else missing_data)
#odi_clean.iloc[:,11]

In [17]:
# introduce shorter column names
odi_clean.columns = ['timestamp', 'programme', 'ML', 'IR', 'stat', 'DB', 'gender', 'chocolate', 'BD', 'neighbours','stand', 'money', 'random', 'bed_time', 'good(1)', 'good(2)', 'y_birth', 'm_birth', 'd_birth', 'h_bed', 'm_bed']
odi_clean.drop(columns=['BD', 'bed_time'], inplace=True)

In [18]:
odi_clean.tail()

,timestamp,programme,ML,IR,stat,DB,gender,chocolate,neighbours,stand,money,random,good(1),good(2),y_birth,m_birth,d_birth,h_bed,m_bed
213,4/5/2018 11:38:01,EOR,no,no,yes,no,male,fat,3,no,2,2,Freedom,Money,1991,11,22,0,0
214,4/5/2018 12:10:39,AI,no,no,-,-,female,neither,7,-,0,-,Sun,Activities,1993,5,20,2,0
215,4/5/2018 13:15:17,AI,yes,yes,yes,no,male,fat,8,no,11,2,The foresight of a night out with friends,The taste of that first sip of cold beer on a ...,1992,7,30,0,0
216,4/5/2018 15:09:53,Physics,no,yes,yes,no,male,neither,5,no,-,10,Good company,Well rested and structured,1991,4,12,4,0
217,4/5/2018 18:04:54,BA,yes,yes,yes,yes,male,fat,3,no,80,6,Sleep,Relax,1994,7,10,1,30

In [16]:
odi_clean.to_csv('ODI-2018_clean.csv', index=False)

In [24]:
odi_clean.isnull().sum()

timestamp     0
programme     0
ML            0
IR            0
stat          0
DB            0
gender        0
chocolate     0
neighbours    0
stand         0
money         0
random        0
good(1)       0
good(2)       0
y_birth       0
m_birth       0
d_birth       0
h_bed         0
m_bed         0
dtype: int64